@charset "UTF-8"
<<<<<<< Updated upstream
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main{
    background-color: white;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 5px black;
}
body {
    background-color: rgba(255, 0, 179, 0.712);
    color: rgba(0,0,0,1);
=======
/* Formatação Padrão */
*{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
Main{
    background-color: rgb(214, 153, 199);   
}
body {
    background-color: rgb(253, 251, 253);
    width: 600;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
>>>>>>> Stashed changes
}
p {
    text-align: justify;
    text-indent: 50px;
}
/* Formatação de Imagens com legendas */
table#servicos {
    border: 1px solid #9b7676;
    border-spacing: 0px;
}
table#servicos td{
    border: 1px solid #927575;
}
/* Formatação do Menu */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
    bottom: 500;
}
nav#menu li {
    display: inline-block ;
    background-color: #b48787;
    padding: 10px;
    margin: 2px;
    right: 915;
}