@charset "UTF-8"
body {
    background-color: red;
    color: rgba(0,0,0,1);
}
p {
    text-align: justify;
    text-indent: 50px;
}
/* Formatação de Imagens com legendas */
table#servicos {
    border: 1px solid #606060;
    border-spacing: 0px;
}
table#servicos td{
    border: 1px solid #606060;
}
/* Formatação do Menu */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
    bottom: 500;
}
nav#menu li {
    display: inline-block ;
    background-color: #606060;
    padding: 10px;
    margin: 2px;
    right: 915;
}